:root {
  --red: #f06c64;
  --red-bottom: #ea676b;
  --white-text: #f0d8d9;
  --red-form: #d6564f;
  --dark-fotter: #2d303a;
}

body {
  margin: 0;
  font-family: "Lato", Arial sans-serif;
  text-align: center;
}
.get-a-quote {
  background: var(--red);
  border-bottom: 6px solid var(--red-bottom);
  max-width: 1020px;
  height: 648px;
  display: inline-block;
}
.contact > .quote {
  width: 1020px;
  height: 90px;
  text-align: left;
  margin: 0 0 0px;
}
.contact > .quote > p:first-child {
  margin-top: 60px;
  padding-left: 40px;
  font-size: 30px;
  color: var(--white-text);
  font-weight: 900;
  letter-spacing: 0px;
  margin-bottom: 0;
  letter-spacing: -0.2px;
}
.contact > .quote > p:last-child {
  padding-left: 40px;
  margin-top: 17px;
  margin-bottom: 0;
  font-size: 18px;
  color: var(--white-text);
  font-weight: 300;
  letter-spacing: -0.05px;
  line-height: 30px;
}
.contact > .quote > p > span {
  letter-spacing: -0.23px;
}
.form-contact {
  display: flex;
}
form > ul > li {
  list-style: none;
  text-decoration: none;
  padding-top: 16px;
}
form {
  text-align: left;
  padding-top: 35px;
}
.form-container {
  width: 660px;
  margin-right: 0;
  padding-right: 0;
}
input,
textarea {
  width: 619px;
  height: 38px;
  margin: 0;
  padding: 0;
  background-color: var(--red-form);
  border: 0;
  list-style: none;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  color: var(--white-text);
}

input::-webkit-input-placeholder {
  color: var(--white-text);
  font-size: 12px;
  padding-left: 13px;
  padding-bottom: 2px;
  opacity: 0.8;
  font-weight: 400;
}
input::-moz-placeholder {
  color: var(--white-text);
  font-size: 12px;
  padding-left: 13px;
  padding-bottom: 2px;
  opacity: 0.8;
  font-weight: 400;
}

textarea::-webkit-input-placeholder {
  color: var(--white-text);
  font-size: 12px;
  padding-left: 12px;
  padding-top: 10px;
  opacity: 0.8;
  letter-spacing: -0.8px;
  font-weight: 400;
}
textarea::-moz-placeholder {
  color: var(--white-text);
  font-size: 12px;
  padding-left: 12px;
  padding-top: 10px;
  opacity: 0.8;
}
textarea {
  height: 202px;
}
.submit {
  font-weight: 700;
  color: var(--white-text);
  text-decoration: none;
  padding: 8px;
  border-radius: 3px;
  background: var(--red-form);
  border: 0;
  transition: 0.6s;
}
form > ul > li > .submit {
  list-style: none;
  text-decoration: none;
  width: 70px;
  margin: 0;
}
form > ul > li > .submit:hover {
  cursor: pointer;
  font-weight: 900;
}
.contact-container {
  height: 504px;
  width: 360px;
  margin-top: 50px;
}
.contact-container > p:first-child {
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 18px;
  color: var(--white-text);
  font-weight: 700;
  letter-spacing: 0.16px;
  text-align: left;
}
.contact-container > p:nth-child(2) {
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 12px;
  color: var(--white-text);
  font-weight: 400;
  letter-spacing: -0.05px;
  line-height: 22px;
  text-align: left;
}
.contact-container > p > span {
  letter-spacing: 0.1px;
}
.contact-container > p:nth-child(n + 3) {
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 12px;
  color: var(--white-text);
  font-weight: 400;
  letter-spacing: -0.05px;
  line-height: 22px;
  text-align: left;
}
.contact-container > p > a {
  text-decoration: none;
  text-transform: none;
  color: var(--white-text);
}
footer {
  background: var(--dark-fotter);
  width: 1020px;
  height: 76px;
  display: inline-block;
}
.footer {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.footer-container > p {
  padding-left: 41px;
  font-size: 12px;
  color: var(--white-text);
  letter-spacing: -0.2px;
}
.footer > .footer-container-link > p {
  padding-left: 595px;
  margin-top: 15px;
  font-size: 12px;
  color: var(--white-text);
  letter-spacing: -0.2px;
}
.footer > .footer-container-link > p > img {
  padding-left: 4px;
}
.footer > .footer-container-link > p > img:hover {
  opacity: 0.6;
  cursor: pointer;
}
